langchain_community 
tiktoken  
langchainhub 
chromadb 
langchain 
python-dotenv
langchain-groq
langchain-nomic
langchain-text-splitters
langchain_huggingface
langchain-experimental
neo4j
fastapi[all]
easyocr
python-multipart